*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
}

:root{
    --blue: rgba(33, 81, 168, 1);
    --white: white;
}

html{
    font-size: 62.5%;
    scroll-padding-top: 12rem;
}

/* Header */
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    height: 10rem;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    border-bottom: 0.1rem groove #d5a939a9;
    background-color: var(--blue);
}

.header-logo img{
    height: 8rem;
    padding: .5rem 0;
    border-radius: 50%;
}

.header-nav{
    margin: 0 2rem;
}
.header-nav li{
    display: inline;
    list-style: none;
    margin-left: 1.7rem;
}

.header-nav a{
    color: var(--white);
    font-size: 2rem;
}

.header-nav a:hover{
    color: var(--white);
    border-bottom: 0.1rem solid var(--white) ;
}

#menu-bar{
    display: none;
}
/* End Header */

/* Product Section */
.products{
    color: var(--blue);
    text-align: center;
}

.products h1{
    font-size: 4rem;
    margin: 12rem 0 2rem 0;
}
.products span{
    color: var(--gold);
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 1.5rem;
    margin: 0 2rem;
}

.grid-item{
    border: 0.1rem;
    border-style: solid;
    border-color: var(--blue);
    text-align: center;
    padding: 2rem 0;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.grid-item:hover{
    box-shadow: inset 0px 300px 0 0 lightgrey;
}

.grid-item img{
    height: 10rem;
    border-radius: 40%;
    margin: .7rem;
}

.grid-item h3{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.grid-item p{
    font-size: 1.7rem;
    font-style: italic;
}
/* End Product Section */

/* Section About */
.about{
    color: var(--blue);
    text-align: center; 
}

.about h1{
    font-size: 4rem;
    margin: 4rem 0 2rem 0;
}

.about-container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    margin: 2rem;
    border:  0.1rem groove var(--blue);
}

.about-txt-1{
    width: 50%;
    padding: 0 2rem;
    text-align: justify;
}

.about-txt-1 h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.about-txt-1 p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.about-txt-1 a{
    color: var(--white);
    font-size: 1.5rem;
    border:  0.1rem groove var(--gold);
    padding: .7em;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.about-txt-1 a:hover{
    box-shadow: inset 100px 50px 0 0 #D5A839;
}

.about-img-1{
    width: 50%;
}

.about-img-1 img{
    width: 100%;
}

.about-container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    margin: 2rem;
    border:  0.1rem groove #d5a939a9;
    
}

.about-img-2{
    width: 50%;
}

.about-img-2 img{
    width: 100%;
}

.about-txt-2{
    width: 50%;
    padding: 0 2rem;
    text-align: justify;
}

.about-txt-2 h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: left;
}

.about-txt-2 p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.about-txt-2 a{
    color: var(--white);
    font-size: 1.5rem;
    border:  0.1rem groove var(--gold);
    padding: .7em;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.about-txt-2 a:hover{
    box-shadow: inset 100px 50px 0 0 #D5A839;
}

/* Fin Acerca */


/* Footer */
.footer{
    padding: 2rem;
    margin-top: 5rem;
    background-color: var(--blue);
}

.footer ul{
    text-align: center;
    padding: 1rem;
}

.footer li{
    display: inline;
    margin: 0 7rem;
}

.footer p{
    text-align: center;
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.5rem;
}
/* Fin Footer */

.form-box{
    height: 70.5rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 20rem 0 1rem 0;
    text-align: left;
    align-items: center;
    font-family: "Lato", sans-serif;
    color: var(--blue);
  }
  
  .input-box {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid lightgrey;
    width: 50rem;
    max-width: 100%;
    color: black;
    opacity: 0.5;
  }
  
  ::placeholder {
    color: var(--blue);
  }
  
  .message {
    resize: none;
    height: 15rem;
  }
  
  button {
    font-size: 2rem;
    padding: 0.5rem;
    margin-top: 2rem;
    border-radius: 0.6rem;
    border: 0.2rem solid lightgrey;
    background-color: var(--white);
    color: rgba(33, 80, 168, 0.671);
    cursor: pointer;
  }
  
